FlowExp1.txt
[
    {
        "id": "1a255a37.005246",
        "type": "tab",
        "label": "Telemetry Flow"
    },
    {
        "id": "af8c23cb.aa2bc",
        "type": "serial in",
        "z": "1a255a37.005246",
        "name": "HeartMonitorSensor",
        "serial": "ee13ce32.b4cfd",
        "x": 141.00000762939453,
        "y": 304.8000431060791,
        "wires": [
            [
                "d1c013a5.4b78e",
                "29c28a9e.c17e26"
            ]
        ]
    },
    {
        "id": "aee03132.63d7b",
        "type": "inject",
        "z": "1a255a37.005246",
        "name": "heartRateTime",
        "topic": "heartRateTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 132.9001808166504,
        "y": 611.8000364303589,
        "wires": [
            [
                "22d6ae18.8e9592",
                "77bc66d1.5adb38"
            ]
        ]
    },
    {
        "id": "77bc66d1.5adb38",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "formatTime",
        "func": "var res = {};\nvar date = new Date(msg.payload);\n\nvar month = date.getMonth()+1;\nvar mes = \"\";\nif(month < 10){\nmes = \"0\"+month;\n}\nres.payload = \"\"+ date.getDate() + \"-\" + (mes)+\"-\"+date.getFullYear() + \" \" + (date.getHours()+1) + \":\"+date.getMinutes()+\":\"+date.getSeconds();\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 399.90020751953125,
        "y": 602.9999809265137,
        "wires": [
            [
                "7af6e46e.22cc5c",
                "8869109e.c15d3",
                "68ada863.aa0a38",
                "feb15541.19cb38"
            ]
        ]
    },
    {
        "id": "d1c013a5.4b78e",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "formatHeartRate",
        "func": "var res = {};\nvar res1 = {};\nvar res2 = {};\nvar heartArray = [];\n\nheartString = msg.payload;\nheartArray = heartString.split(\"\\t\");\nres.topic = \"bodyHeart\";\nres.payload = parseInt(heartArray[0]);\nres1.topic = \"presionHeart\";\nres1.payload = [parseInt(heartArray[1]),parseInt(heartArray[2])];\nres2.topic = \"bodyStress\";\nres2.payload =parseInt(heartArray[3]);\nreturn [res,res1,res2];",
        "outputs": "3",
        "noerr": 0,
        "x": 369.9000434875488,
        "y": 373.0000190734863,
        "wires": [
            [
                "9cb8bbc8.731768",
                "8869109e.c15d3"
            ],
            [
                "68ada863.aa0a38"
            ],
            [
                "feb15541.19cb38"
            ]
        ]
    },
    {
        "id": "29c28a9e.c17e26",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 355.5000419616699,
        "y": 209.4000473022461,
        "wires": []
    },
    {
        "id": "22d6ae18.8e9592",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 367.50008392333984,
        "y": 533.3999769687653,
        "wires": []
    },
    {
        "id": "9cb8bbc8.731768",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 548.7000350952148,
        "y": 168.40002822875977,
        "wires": []
    },
    {
        "id": "7af6e46e.22cc5c",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 608.5000839233398,
        "y": 691.3999407291412,
        "wires": []
    },
    {
        "id": "8869109e.c15d3",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "mergeMessages",
        "func": "var cryptojs = context.global.cryptojs;\ncontext.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"heartRateTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"bodyHeart\":\n        context.data.latidosPMin = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null && context.data.latidosPMin != null) {\n\tres = {};\n\tcontext.data.hashData = cryptojs.SHA256(\"\" + context.data.fecha + context.data.latidosPMin);\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"bodyHeart\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 787.7002639770508,
        "y": 247.00000762939453,
        "wires": [
            [
                "c8b95882.77cba8",
                "47f48090.9ae7f"
            ]
        ]
    },
    {
        "id": "c8b95882.77cba8",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after merge",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1007.9000015258789,
        "y": 167.40002059936523,
        "wires": []
    },
    {
        "id": "68ada863.aa0a38",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "mergeMessages",
        "func": "var cryptojs = context.global.cryptojs;\ncontext.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"heartRateTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"presionHeart\":\n        context.data.presionS = msg.payload[0];\n        context.data.presionD = msg.payload[1];\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null && context.data.presionS != null && context.data.presionD != null) {\n\tres = {};\n\tcontext.data.hashData = cryptojs.SHA256(\"\" + context.data.fecha + context.data.presionS + context.data.presionD);\n    res.payload =res.payload = JSON.stringify(context.data);\n    res.topic = \"presionHeart\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 788.2002410888672,
        "y": 416.20001220703125,
        "wires": [
            [
                "77d213f5.9d5acc",
                "40ac4b7a.e7c4a4"
            ]
        ]
    },
    {
        "id": "feb15541.19cb38",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "mergeMessages",
        "func": "var cryptojs = context.global.cryptojs;\ncontext.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"heartRateTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"bodyStress\":\n        context.data.nivel = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null && context.data.nivel != null) {\n\tres = {};\n\tcontext.data.hashData = cryptojs.SHA256(\"\" + context.data.fecha + context.data.nivel);\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"bodyStress\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 782.2000198364258,
        "y": 638.1999893188477,
        "wires": [
            [
                "6f2dd80b.02eb68",
                "518780d8.394cf"
            ]
        ]
    },
    {
        "id": "e7a6a953.7175c8",
        "type": "http response",
        "z": "1a255a37.005246",
        "name": "http create paciente/1/pres",
        "x": 1377.2998886108398,
        "y": 282.200008392334,
        "wires": []
    },
    {
        "id": "e54131ff.2e41a",
        "type": "http response",
        "z": "1a255a37.005246",
        "name": "http create paciente/1/frec",
        "x": 1361.5001702308655,
        "y": 506.200008392334,
        "wires": []
    },
    {
        "id": "e8c1c1ce.40251",
        "type": "http response",
        "z": "1a255a37.005246",
        "name": "http create paciente/1/estres",
        "x": 1451.799949645996,
        "y": 729.6001167297363,
        "wires": []
    },
    {
        "id": "f1b291e7.9bc67",
        "type": "http in",
        "z": "1a255a37.005246",
        "name": "POST paciente/1/frec",
        "url": "localhost:9000/paciente/1/frec",
        "method": "post",
        "swaggerDoc": "",
        "x": 776.4000244140625,
        "y": 335.0000343322754,
        "wires": [
            [
                "a9a0a675.e7e788",
                "8869109e.c15d3"
            ]
        ]
    },
    {
        "id": "6785009.f3071",
        "type": "http in",
        "z": "1a255a37.005246",
        "name": "POST paciente/1/pres",
        "url": "localhost:9000/paciente/1/pres",
        "method": "post",
        "swaggerDoc": "",
        "x": 776.4000396728516,
        "y": 512.999927520752,
        "wires": [
            [
                "a9752db0.555cc",
                "68ada863.aa0a38"
            ]
        ]
    },
    {
        "id": "3830a5c6.91811a",
        "type": "http in",
        "z": "1a255a37.005246",
        "name": "POST paciente/1/estres",
        "url": "localhost:9000/paciente/1/estres",
        "method": "post",
        "swaggerDoc": "",
        "x": 811.8000717163086,
        "y": 754.999993801117,
        "wires": [
            [
                "87b3a0f.8b5966",
                "feb15541.19cb38"
            ]
        ]
    },
    {
        "id": "a9a0a675.e7e788",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1103.3999557495117,
        "y": 302.0000333786011,
        "wires": [
            [
                "e7a6a953.7175c8"
            ]
        ]
    },
    {
        "id": "a9752db0.555cc",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1073.3999710083008,
        "y": 513.3999586105347,
        "wires": [
            [
                "e54131ff.2e41a"
            ]
        ]
    },
    {
        "id": "87b3a0f.8b5966",
        "type": "function",
        "z": "1a255a37.005246",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1134.3999710083008,
        "y": 726.9999933242798,
        "wires": [
            [
                "e8c1c1ce.40251"
            ]
        ]
    },
    {
        "id": "77d213f5.9d5acc",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after merge",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1009.2000122070312,
        "y": 374.00001192092896,
        "wires": []
    },
    {
        "id": "6f2dd80b.02eb68",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after merge",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 965.2000274658203,
        "y": 574.9999866485596,
        "wires": []
    },
    {
        "id": "40ac4b7a.e7c4a4",
        "type": "json",
        "z": "1a255a37.005246",
        "name": "",
        "x": 1006.0999984741211,
        "y": 439.800012588501,
        "wires": [
            [
                "54515100.332"
            ]
        ]
    },
    {
        "id": "54515100.332",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1199.4000663757324,
        "y": 390.0000112056732,
        "wires": []
    },
    {
        "id": "47f48090.9ae7f",
        "type": "json",
        "z": "1a255a37.005246",
        "name": "",
        "x": 1002.5999755859375,
        "y": 256.6000061035156,
        "wires": [
            [
                "fd53f215.13d5b"
            ]
        ]
    },
    {
        "id": "fd53f215.13d5b",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1195.9000434875488,
        "y": 206.80000472068787,
        "wires": []
    },
    {
        "id": "518780d8.394cf",
        "type": "json",
        "z": "1a255a37.005246",
        "name": "",
        "x": 988.5999755859375,
        "y": 642.5999755859375,
        "wires": [
            [
                "bde0592.98e00a8"
            ]
        ]
    },
    {
        "id": "bde0592.98e00a8",
        "type": "debug",
        "z": "1a255a37.005246",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1181.9000434875488,
        "y": 592.7999742031097,
        "wires": []
    },
    {
        "id": "ee13ce32.b4cfd",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    }
]