FlowExp1.txt
[
    {
        "id": "7a8fae21.959d3",
        "type": "tab",
        "label": "Telemetry Flow"
    },
    {
        "id": "cecb1979.0877c8",
        "type": "serial in",
        "z": "7a8fae21.959d3",
        "name": "HeartMonitorSensor",
        "serial": "b76247f5.dfaed8",
        "x": 141.00000762939453,
        "y": 304.8000431060791,
        "wires": [
            [
                "99e86c2a.4845a",
                "6ac0551a.2c360c"
            ]
        ]
    },
    {
        "id": "a893d5a8.d0c108",
        "type": "inject",
        "z": "7a8fae21.959d3",
        "name": "heartRateTime",
        "topic": "heartRateTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 132.9001808166504,
        "y": 611.8000364303589,
        "wires": [
            [
                "70f196d9.9d8c08",
                "35ee0e89.b1f332"
            ]
        ]
    },
    {
        "id": "35ee0e89.b1f332",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "formatTime",
        "func": "var res = {};\nvar date = new Date(msg.payload);\n\nvar month = date.getMonth()+1;\nvar mes = \"\";\nif(month < 10){\nmes = \"0\"+month;\n}\nres.payload = \"\"+ date.getDate() + \"-\" + (mes)+\"-\"+date.getFullYear() + \" \" + (date.getHours()+1) + \":\"+date.getMinutes()+\":\"+date.getSeconds();\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 399.90020751953125,
        "y": 602.9999809265137,
        "wires": [
            [
                "b285aa4d.371178",
                "f59394f4.6bd8f8",
                "a2a0e7ab.f83668",
                "fda7c254.9089"
            ]
        ]
    },
    {
        "id": "99e86c2a.4845a",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "formatHeartRate",
        "func": "var res = {};\nvar res1 = {};\nvar res2 = {};\nvar heartArray = [];\n\nheartString = msg.payload;\nheartArray = heartString.split(\"\\t\");\nres.topic = \"bodyHeart\";\nres.payload = parseInt(heartArray[0]);\nres1.topic = \"presionHeart\";\nres1.payload = [parseInt(heartArray[1]),parseInt(heartArray[2])];\nres2.topic = \"bodyStress\";\nres2.payload =parseInt(heartArray[3]);\nreturn [res,res1,res2];",
        "outputs": "3",
        "noerr": 0,
        "x": 369.9000434875488,
        "y": 373.0000190734863,
        "wires": [
            [
                "994aa38d.684ac",
                "f59394f4.6bd8f8"
            ],
            [
                "a2a0e7ab.f83668"
            ],
            [
                "fda7c254.9089"
            ]
        ]
    },
    {
        "id": "6ac0551a.2c360c",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 355.5000419616699,
        "y": 209.4000473022461,
        "wires": []
    },
    {
        "id": "70f196d9.9d8c08",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 367.50008392333984,
        "y": 533.3999769687653,
        "wires": []
    },
    {
        "id": "994aa38d.684ac",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 548.7000350952148,
        "y": 168.40002822875977,
        "wires": []
    },
    {
        "id": "b285aa4d.371178",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 608.5000839233398,
        "y": 691.3999407291412,
        "wires": []
    },
    {
        "id": "f59394f4.6bd8f8",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "mergeMessages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"heartRateTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"bodyHeart\":\n        context.data.latidosPMin = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null && context.data.latidosPMin != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"bodyHeart\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 787.7002639770508,
        "y": 247.00000762939453,
        "wires": [
            [
                "28aecbd8.b1e7f4",
                "b5022a73.669d18"
            ]
        ]
    },
    {
        "id": "28aecbd8.b1e7f4",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after merge",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1007.9000015258789,
        "y": 167.40002059936523,
        "wires": []
    },
    {
        "id": "a2a0e7ab.f83668",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "mergeMessages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"heartRateTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"presionHeart\":\n        context.data.presionS = msg.payload[0];\n        context.data.presionD = msg.payload[1];\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null && context.data.presionS != null && context.data.presionD != null) {\n\tres = {};\n    res.payload =res.payload = JSON.stringify(context.data);\n    res.topic = \"presionHeart\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 788.2002410888672,
        "y": 416.20001220703125,
        "wires": [
            [
                "ca7a237b.660a4",
                "515ddda6.9cc414"
            ]
        ]
    },
    {
        "id": "fda7c254.9089",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "mergeMessages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"heartRateTime\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"bodyStress\":\n        context.data.nivel = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null && context.data.nivel != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"bodyStress\"\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 782.2000198364258,
        "y": 638.1999893188477,
        "wires": [
            [
                "71b16932.9dbd78",
                "a7cd7d18.a8a1d"
            ]
        ]
    },
    {
        "id": "39d1e810.04b128",
        "type": "http response",
        "z": "7a8fae21.959d3",
        "name": "http create paciente/1/pres",
        "x": 1377.2998886108398,
        "y": 282.200008392334,
        "wires": []
    },
    {
        "id": "44b0a551.102efc",
        "type": "http response",
        "z": "7a8fae21.959d3",
        "name": "http create paciente/1/frec",
        "x": 1361.5001702308655,
        "y": 506.200008392334,
        "wires": []
    },
    {
        "id": "1c006067.b0b0c",
        "type": "http response",
        "z": "7a8fae21.959d3",
        "name": "http create paciente/1/estres",
        "x": 1451.799949645996,
        "y": 729.6001167297363,
        "wires": []
    },
    {
        "id": "a767ccec.5c8bd",
        "type": "http in",
        "z": "7a8fae21.959d3",
        "name": "POST paciente/1/frec",
        "url": "localhost:9000/paciente/1/frec",
        "method": "post",
        "swaggerDoc": "",
        "x": 776.4000244140625,
        "y": 335.0000343322754,
        "wires": [
            [
                "7b0ad21.6fa2f2c",
                "f59394f4.6bd8f8"
            ]
        ]
    },
    {
        "id": "5b612144.2425c",
        "type": "http in",
        "z": "7a8fae21.959d3",
        "name": "POST paciente/1/pres",
        "url": "localhost:9000/paciente/1/pres",
        "method": "post",
        "swaggerDoc": "",
        "x": 776.4000396728516,
        "y": 512.999927520752,
        "wires": [
            [
                "aef0046c.91ec38",
                "a2a0e7ab.f83668"
            ]
        ]
    },
    {
        "id": "1403593f.cf8db7",
        "type": "http in",
        "z": "7a8fae21.959d3",
        "name": "POST paciente/1/estres",
        "url": "localhost:9000/paciente/1/estres",
        "method": "post",
        "swaggerDoc": "",
        "x": 811.8000717163086,
        "y": 754.999993801117,
        "wires": [
            [
                "6f388e91.6e7a7",
                "fda7c254.9089"
            ]
        ]
    },
    {
        "id": "7b0ad21.6fa2f2c",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1103.3999557495117,
        "y": 302.0000333786011,
        "wires": [
            [
                "39d1e810.04b128"
            ]
        ]
    },
    {
        "id": "aef0046c.91ec38",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1073.3999710083008,
        "y": 513.3999586105347,
        "wires": [
            [
                "44b0a551.102efc"
            ]
        ]
    },
    {
        "id": "6f388e91.6e7a7",
        "type": "function",
        "z": "7a8fae21.959d3",
        "name": "Content Type",
        "func": "msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1134.3999710083008,
        "y": 726.9999933242798,
        "wires": [
            [
                "1c006067.b0b0c"
            ]
        ]
    },
    {
        "id": "ca7a237b.660a4",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after merge",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1009.2000122070312,
        "y": 374.00001192092896,
        "wires": []
    },
    {
        "id": "71b16932.9dbd78",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after merge",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 965.2000274658203,
        "y": 574.9999866485596,
        "wires": []
    },
    {
        "id": "515ddda6.9cc414",
        "type": "json",
        "z": "7a8fae21.959d3",
        "name": "",
        "x": 1006.0999984741211,
        "y": 439.800012588501,
        "wires": [
            [
                "30961241.5eb70e"
            ]
        ]
    },
    {
        "id": "30961241.5eb70e",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1199.4000663757324,
        "y": 390.0000112056732,
        "wires": []
    },
    {
        "id": "b5022a73.669d18",
        "type": "json",
        "z": "7a8fae21.959d3",
        "name": "",
        "x": 1002.5999755859375,
        "y": 256.6000061035156,
        "wires": [
            [
                "97d34d7c.c679f"
            ]
        ]
    },
    {
        "id": "97d34d7c.c679f",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1195.9000434875488,
        "y": 206.80000472068787,
        "wires": []
    },
    {
        "id": "a7cd7d18.a8a1d",
        "type": "json",
        "z": "7a8fae21.959d3",
        "name": "",
        "x": 988.5999755859375,
        "y": 642.5999755859375,
        "wires": [
            [
                "795a4910.367278"
            ]
        ]
    },
    {
        "id": "795a4910.367278",
        "type": "debug",
        "z": "7a8fae21.959d3",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1181.9000434875488,
        "y": 592.7999742031097,
        "wires": []
    },
    {
        "id": "b76247f5.dfaed8",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    }
]